body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  background-color: #5E5745;
  margin: auto;
  width: 100%;
}

/* Add a black background color to the top navigation */
.navbar {
  background-color: #E26812;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 0.95rem;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #FFC52D;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

/* The Homepage CSS Mobile 320px */
.welcome {
    background-image: url('https://blog.artonemfg.com/hs-fs/hubfs/HotelConcord201809-018.jpg?width=2250&name=HotelConcord201809-018.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* Add the blur effect */
    filter: blur(2px);
    -webkit-filter: blur(2px);

    height: 100vh;
    width: 100%;
}

.welcome-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

/* LOGIN PAGE CSS 320px Mobile */

.login-page {
  background-color: #FFF;
  background-image: url('https://res.cloudinary.com/traveltripperweb/image/upload/c_limit,f_auto,h_2500,q_auto,w_2500/v1603451182/ewdr6l72daghgiwojqk1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.login-container {
  position: relative;
  width: 80%;
}

.login-header {
  color: #FFF;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
}

.login-form {
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 10px;
  height: auto;
}

.login-form > input:nth-child(1),
.login-form > input:nth-child(3) {
  display: block;
  border-radius: 5px;
  font-size: 1rem;
  background: white;
  border: 1px dashed #E26812;
  padding: 5px 25px 5px 5px;
}

.login-form > input:nth-child(1):hover,
.login-form > input:nth-child(3):hover {
  border: 1px solid #E26812;
}

.login-submit,
.reserve,
.close {
  text-decoration: none;
  background-color: #E26812;
  border: none;
  border-radius: 5px;
  color: #FFF;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 5px;
}

.login-attempt {
  font-weight: bold;
  margin-top: 5px;
}

/* PROFILE PAGE CSS */

.profile-page {
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  padding-top: 5%;
  padding-left: 5%;
  width: 100%;
}

.profile-header,
.profile-welcome {
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* SPACES PAGE CSS 320px Mobile */

.space-page {
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.space-header {
  font-size: 1.2rem;
}

.spaceComponent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 2px solid #E26812;
  border-radius: 10px;
  padding: 5px 5px 10px 5px;
  width: 90%;
  margin: 5px;
  overflow: auto;
}

img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}

.name {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #5E5745;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
}

tr, td {
  border: 1px solid black;
	padding: 8px;
}

td:nth-child(1) {
  width: 100px;
}

/* MODAL COMPONENT CSS 320px Mobile */

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* TABLET SIZES 768PX */

@media (min-width: 768px) {

  /* Navbar 768px */

  .navbar a {
    font-size: 1.5rem;
  }

/* Login Pages Tablet 768px */

  .login-form {
    height: 150px;
    width: 40%;
  }

  .login-header {
    font-size: 1.25rem;
  }
  
  .login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Space Component Tablet 768px */

  .space-header {
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
    width: 100%;
  }

  .space-page {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
  }

  .spaceComponent {
    justify-content: space-evenly;
    height: 400px;
    max-height: 400px;
    width: 40%;
    margin: 10px 0;
  }

  img {
    height: 250px;
    width: 300px;
    padding-left: 5px;
  }

  .name,
  .location,
  .spaceId {
    padding-left: 5px;
  }

  .reserve {
    margin-left: 5px;
  }

}

@media (min-width: 1024px) {

  /* Navbar 1024px */

  .navbar a {
    font-size: 1.75rem;
  }

  /* Space CSS Tablet 1024px */

  .space-header {
    font-size: 2rem;
  }

  img {
    height: 250px;
    width: 400px;
    max-height: 250px;
    max-width: 400px;
  }

  .spaceComponent {
    max-height: 420px;
    max-width: 420px;
  }

  /* Login CSS Tablet 1024px */

  .login-header,
  .login-submit {
    font-size: 1.75rem;
  }

  .login-form-container {
    height: 75%;
    max-height: 75%;
  }

  .login-form {
    max-height: 250px;
    height: 100%;
    position: relative;
    justify-content: flex-start;
    padding: 15px 10px 0 10px;
    max-width: 350px;
  }

  .login-form > input:nth-child(1),
  .login-form > input:nth-child(3) {
    font-size: 1.75rem;
    padding: 5px 25px 5px 5px;
  }

}
